<?xml version="1.0"?>

<robot name="g1_12dof_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="DEBUG" default="false"/>

  <xacro:include filename="$(find g1_12dof_description)/xacro/gazebo.xacro"/>  
  <!-- <xacro:include filename="$(find g1_12dof_description)/xacro/const.xacro"/> -->
  <xacro:include filename="$(find g1_12dof_description)/xacro/leg.xacro"/>
  <xacro:include filename="$(find g1_12dof_description)/xacro/leg_transmission.xacro"/>
  <xacro:include filename="$(find g1_12dof_description)/xacro/arm.xacro"/> 
  <xacro:include filename="$(find g1_12dof_description)/xacro/_d435.urdf.xacro"/> 
  <!-- Rotor related joint and link is only for demonstrate location. -->
  <!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->

  <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
  <xacro:if value="$(arg DEBUG)">
      <link name="world"/>
      <joint name="base_static_joint" type="fixed">
          <origin rpy="0 0 0" xyz="0 0 0.5"/>
          <parent link="world"/>
          <child link="pelvis"/>
      </joint>
  </xacro:if> 

 <!-- Torso -->
 <joint name="waist_yaw_joint" type="fixed"> <!--check-->
    <origin xyz="-0.0039635 0 0.044" rpy="0 0 0"/>
    <parent link="pelvis"/>
    <child link="torso_link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.618" upper="2.618" effort="88" velocity="32"/>
  </joint>

  <link name="torso_link"> <!--check-->
    <inertial>
      <origin xyz="0.000931 0.000346 0.15082" rpy="0 0 0"/>
      <mass value="6.78"/>
      <inertia ixx="0.05905" ixy="3.3302E-05" ixz="-0.0017715" iyy="0.047014" iyz="-2.2399E-05" izz="0.025652"/>
    </inertial>
    <visual>
      <origin xyz="0.0039635 0 -0.044" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://g1_12dof_description/meshes/torso_link_23dof_rev_1_0.STL"/>
      </geometry>
      <material name="white">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
    <collision>
        <origin xyz="0.055 0.055 -0.020" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="0.055 -0.055 -0.020" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.055 0.055 -0.020" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.055 -0.055 -0.020" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>

    <collision>
        <origin xyz="0.063 0.088 0.065" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="0.063 -0.088 0.065" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.063 0.088 0.065" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.063 -0.088 0.065" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>

    <collision>
        <origin xyz="0.063 0.088 0.30" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="0.063 -0.088 0.30" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.066 0.088 0.30" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.066 -0.088 0.30" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
  </link>

  

  <link name="pelvis"> <!--check-->
    <inertial>
      <origin xyz="0 0 -0.07605" rpy="0 0 0"/>
      <mass value="3.813"/>
      <inertia ixx="0.010549" ixy="0" ixz="2.1E-06" iyy="0.0093089" iyz="0" izz="0.0079184"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://g1_12dof_description/meshes/pelvis.STL"/>
      </geometry>
      <material name="dark">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
        <origin xyz="0.050 0.060 -0.060" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="0.050 -0.060 -0.060" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.050 0.060 -0.060" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.050 -0.060 -0.060" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="0.050 0.060 -0.135" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="0.050 -0.060 -0.135" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.050 0.060 -0.135" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
    <collision>
        <origin xyz="-0.050 -0.060 -0.135" rpy="0 0 0"/>
        <geometry>
        <sphere radius="0.01"/>
        </geometry>
    </collision>
  </link>

  <link name="pelvis_contour_link"> <!--check-->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://g1_12dof_description/meshes/pelvis_contour_link.STL"/>
      </geometry>
      <material name="white">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
  </link> 
  <joint name="pelvis_contour_joint" type="fixed"> <!--check-->
    <parent link="pelvis"/>
    <child link="pelvis_contour_link"/>
  </joint>


 <!-- Head -->
  <link name="head_link">
    <inertial>
      <origin xyz="0.005267 0.000299 0.449869" rpy="0 0 0"/>
      <mass value="1.036"/>
      <inertia ixx="0.004085051" ixy="-2.543E-06" ixz="-6.9455E-05" iyy="0.004185212" iyz="-3.726E-06" izz="0.001807911"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://g1_12dof_description/meshes/head_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.055 0.055 0.48" rpy="0 0 0"/>
      <geometry>
      <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.055 -0.055 0.48" rpy="0 0 0"/>
      <geometry>
      <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.055 0.040 0.48" rpy="0 0 0"/>
      <geometry>
      <sphere radius="0.01"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.055 -0.040 0.48" rpy="0 0 0"/>
      <geometry>
      <sphere radius="0.01"/>
      </geometry>
    </collision>
  </link>

 
  <joint name="head_joint" type="fixed"> <!--check-->
    <origin xyz="0.0039635 0 -0.044" rpy="0 0 0"/>
    <parent link="torso_link"/>
    <child link="head_link"/>
  </joint>


 <!-- d435 -->
  <xacro:sensor_d435 parent="torso_link">
   <origin xyz="0.0576235 0.01053 0.41987" rpy="0 0.8307767239493009 0"/>
  </xacro:sensor_d435>


<!-- mid360 -->
<link name="mid360_link"></link>
  <joint name="mid360_joint" type="fixed">
    <origin xyz="0.0002835 0.01053 0.41987" rpy="0 0.040142572079586953 0"/>
    <parent link="torso_link"/>
    <child link="mid360_link"/>
</joint>


<gazebo reference="mid360_link">
<sensor type="ray" name="laser_livox">
        <visualize>true</visualize>
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
			  <ray>
			  <scan>
				  <horizontal>
				    <samples>100</samples>
				    <resolution>1</resolution>
				    <min_angle>-3.1415926535897931</min_angle>
            <max_angle>3.1415926535897931</max_angle>
				  </horizontal>
				  <vertical>
				    <samples>50</samples>
				    <resolution>1</resolution>
				    <min_angle>-3.1415926535897931</min_angle>
            <max_angle>3.1415926535897931</max_angle>
				  </vertical>
			  </scan>
			  <range>
				  <min>0.1</min>
				  <max>40</max>
				  <resolution>1</resolution>
			  </range>
			  <noise>
				  <type>gaussian</type>
				  <mean>0.0</mean>
				  <stddev>0.0</stddev>
			  </noise>
			  </ray>
          <visualize>True</visualize>
		      <samples>20000</samples>
		      <downsample>1</downsample>
		      <csv_file_name>mid360-real-centr.csv</csv_file_name>
          <publish_pointcloud_type>2</publish_pointcloud_type>               
          <ros_topic>/livox/lidar</ros_topic>
         <frameName>mid360_link</frameName>   
        </plugin>
      </sensor>
 </gazebo>


  <!-- IMU -->
  <link name="imu_in_torso"></link>
  <joint name="imu_in_torso_joint" type="fixed">
    <origin xyz="-0.03959 -0.00224 0.14792" rpy="0 0 0"/>
    <parent link="torso_link"/>
    <child link="imu_in_torso"/>
  </joint>

  <link name="imu_in_pelvis"></link>
  <joint name="imu_in_pelvis_joint" type="fixed">
    <origin xyz="0.04525 0 -0.08339" rpy="0 0 0"/>
    <parent link="pelvis"/>
    <child link="imu_in_pelvis"/>
  </joint>

</robot>



